<h3>Saved Repo</h3>
<div *ngFor="let save of saved ; let i=index">
    <div *ngIf="i<10">
    <div class="row">
        <div class="col-md-8">
            <a href="{{save.html_url}}" target="_blank"><h4>{{save.full_name}}</h4></a>
            <p>{{save.description}}</p>
            <br>
            <button type="button" class="btn btn-default btn-xs">{{save.language}}</button>
            <a href="{{save.homepage}}"> <button type="button" class="btn btn-default btn-xs">Website</button></a>
        </div>
        <div class="col-md-2">
            <a href="{{save.starred_url}}" target="_blank"><span class="glyphicon glyphicon-star"></span> <span class="badge">{{save.watchers_count}}</span></a>
        </div>
        <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-sm" (click)="remove(save.id)">Remove</button>
                
        </div>
    </div>
    <hr>
    </div>
</div>